.card {
  width: 350px;
  height: 600px;
  margin: 0px 30px;
}

.pokemon__image {
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
